/*card1*/

.containercard {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	z-index: 10;
}

.containercard .card1{
	position: relative;
	max-width: 300px;
	height: 210px;
	margin: 30px 40px;
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0.5px 20px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
}
.card1{
	background-image: url(../image/bg_card.jpg);
	background-size: cover;
}
.containercard .card1:hover{
	height: 420px;

}

.containercard .card1 .imgBx{
	position: relative;
	width: 260px;
	height: 260px;
	top: -60px;
	left: 40px;	
	
}

.containercard .card1 .content{
	max-width:100%; 
	border-radius: 4px;
}

.containercard .card1 .content{
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}

.containercard .card1:hover .content{
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;
}
/*/*card1 close*/
.table-responsive-sm{
	min-height: 400px;
	z-index: 100;
}

.container-fluid1{
	padding: 80px;
}

