$primary-dark-color: #121421;
$secondary-dark-color: #1E202C;
$red-color: #EB5757;
$gray-color: #707070;
$white-color: #fff;
$green-color: #50FF8A;
$yellow-color: #FFE250;

$small: 768px;
$medium: 1366px;
$high: 1920px;